{% extends "index.html" %}

{% block content %}



 <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">name</th>
                <th scope="col">price</th>
                <th scope="col">vendor</th>
                <th scope="col">city</th>
            </tr>
        </thead>
        <tbody>
        {% for medicine in medicines %}
            <tr >
                <td> {{medicine.medicine_name}} </td>
                <td> {{medicine.price}} </td>
                <td> {{medicine.vendor}} </td>
                <td> {{medicine.city}} </td>
                 <td>
                    <a href="/update/{{medicine.medicine_name}}" type="button" class="btn btn-warning" data-person_login="{{medicine.medicine_name}}">Edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 </div>

{% endblock %}